*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
width: 100vw;
height: 100vh;
}

header {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}


button {
  position: absolute;
  margin-bottom: 6px;
  padding: auto;
  width: 150px;
  height: 20px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;  
}

button a {
  text-decoration: none;
  color: linen
}
button:hover {
  width: 150px;
  background: rgba(0, 128, 0, 0.644);
  transition: 0.5s;
}
h1 {
  text-align: center;
}

canvas {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100%;
}

